<h1>Don't Forget!</h1>
<h2><%= rand(1..100) %></h2>

<% a = ["Hot Dogs", "Hamburgers", "BBQ Sauce"] %>
<p>You should bring <%= a.sample %></p>

<ul>
  <li>Hot Dogs</li>
  <li>Hamburgers</li>
  <li>BBQ Sauce</li>
</ul>
